* {
  box-sizing: border-box;
  border: 1px solid palegoldenrod;
  padding: 0;
  margin: 0;
}

:root {
  height: 100vh;

  font-size: 62.5%;
  --primary-avatar-size: 10rem;
  --secondary-avatar-size: 7rem;
}

/******** Layouting and Sizing *******/

body{
  font-size: 1.6rem;

  display: grid;
  grid-template-columns: 1fr 4fr 1fr; /*temporary*/
  grid-template-rows: 7rem var(--primary-avatar-size) 1fr; /*temporary*/
  grid-template-areas: "leftsidebar topheader    topheader"
                       "leftsidebar bottomheader bottomheader"
                       "leftsidebar cards        rightsidebar";
}

/** topheader **/
.topheader {
  grid-area: topheader;
  
  display: flex;
  align-items: center;
}

.topheader > .searchbar {
  flex: 2;
}

.topheader > .user {
  flex: 1;

  display: flex;
}

/** bottomheader **/
.bottomheader {
  grid-area: bottomheader;

  display: grid;
  grid-template-columns: var(--primary-avatar-size) 1fr 1fr 2fr;
  /* grid-template-rows: 1fr; */
  grid-template-areas: "useravatar greetings greetings  buttons"
                       "useravatar username  userhandle buttons";
} 

.bottomheader > .user-avatar {
  grid-area: useravatar;
}

.bottomheader > p {
  grid-area: greetings;
}

.bottomheader:lastchild {
 grid-area: buttons;
}

.bottomheader > .user-name {
  grid-area: username;
}

.bottomheader > .user-handle {
  grid-area: userhandle;
}

/** leftsidebar **/
.leftsidebar {
  grid-area: leftsidebar;
}

/** rightsidebar **/
.rightsidebar {
  grid-area: rightsidebar;
}

/** cards **/
.cards {
  grid-area: cards;
}

